@font-face{
  font-family:'poker-font';
  src: url("/assets/fonts/poker-font.woff") format("woff"), 
  url("/assets/fonts/poker-font.woff2") format("woff2"),
  url("/assets/fonts/poker-font.eot") format("eot"), 
  url("/assets/fonts/poker-font.ttf") format("ttf");
  font-display: swap
}

body {
  margin: 0;
  padding: 0;
  font-family: 'poker-font';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 65px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
