img {
	width: 100%;
	height: 100%;
}
.centered-flex-row {
	display: flex;
	justify-content: center;
	width: auto;
	height: auto;
}

.spinner-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 200px;
	width: 200px;

	animation: App-logo-spin infinite 20s linear;
}

.flex-centered-column {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: auto;
	height: auto;
}

.player-avatar-container {
	position: relative;

	height: 100px;
	width: 100px;
	border-radius: 100px;
}

.bet-container {
	display: flex;

	position: absolute;
	left: 85px;
	top: -15px;
	color: white;
}

.player-avatar-image {
	box-sizing: content-box;
	border-radius: 500px;
	border: 1px solid whitesmoke;
	background-color: rgba(255,255,255,0.22);
	transition: border 0.1s ease-out;
}

.activePlayer {
	border: 5px solid #00ff25;
}

.playing-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: white;
	font-size: 1em;

	height: 50px;
	width: 35px;
	margin: 0 1px;
	border: 1px solid gray;

	opacity: 0;
	animation: fade-in-up 0.5s;
	animation-fill-mode: both;
}
.robotcard {
	background-color: #890808;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.folded {
	animation: fade-in-out 0.5s;
	animation-fill-mode: both;
}
@keyframes fade-in-up {
	0% {
		opacity: 1;
		transform: translateY(0%);
	}
	100% {
		opacity: 0;
		transform: translateY(100%)
	}
}

@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translateY(100%)
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.dealer-chip-icon-container {
	position: absolute;
	top: 0px;
	left: 0px;

	height: 25px;
	width: 25px;
	z-index: 100;
}

/* GAME BOARD */

.poker-players {
	position: relative;
	width: 1400px;
	min-width: 1400px;
	height: 778.46px;
	background-image: url('/assets/table.svg');
}
 .p0, .p1, .p2, .p3, .p4 {
 	position: absolute;

 	display: flex;
 	align-items: center;
 	flex-direction: column;


 	width: 175px;
 	height: 200px;

 	border-radius: 200px;
 }

 .p0 {
 	bottom: 8.262%; /* 41px/962px */ /* ADD 2PX TO ALL VETICAL CALCULATIONS - MOVED PLAYERBOARD UP FOR CARD SPACE  (WAS 4.262%)*/
 	left: 43.75%; /* 50% - 6.25% (87.5px/1400px) */ 
 }
 .p1 {
 	bottom: 8.262%;
 	left: 24.107143%; /* 50% - 25.892857% (362.5px/1400px) */
 }
 .p2 {
 	bottom: 21.1518%; /* 165px / 962px */
 	left: 6%; /* 50% - 44% (616px/1400px) */ 
 }

 .p4 {
 	bottom: 8.262%;
 	right: 24.107143%;
 }
 .p3 {
 	bottom: 21.1518%;
 	right: 6%;
 }

 .action {
 	border-color: blue;
 }

 .community-card-container {
 	position: absolute;
 	display: flex;
 	justify-content: center;

 	top: calc(39.5% - 60px);
 	left: calc(50% - 100px);
 	
 	display: flex;

 	width: 200px;
 	height: 60px;

 }
 .cardbabmock {
 	width: 85px;
 	margin-left: 5px;
 	height: 100px;
 	background-color: black;
 }

 .top-game-menu-bar {
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	position: absolute;
 	left: 0%;
 	right: 0%;
 	top: 0%;
 	height: 86.5px;
 	background-color: rgba(0,0,0,0.85);
 	color: white;
 }
 .bottom-game-menu-bar {
 	position: absolute;

 	display: flex;
 	align-items: center;
 	justify-content: space-around;

 	left: 0%;
 	right: 0%;
 	bottom: 0%;
 	height: 100px;
 	background-color: rgba(0,0,0,0.55);
 	color: white;
 }

 .chat-box {
 	position: absolute;
 	display: none;
 	left: 0%;
 	width: 70%;
 	top: 86.5px;
 	height: 100%;
 	background-color: rgba(0,0,0,0.25);
 }

 .abscard {
 	position: absolute;
 	top: -80px;
 }

 .shrinkwrap {
 	transform: scale(0.3);
 }

 .action-buttons {
 	display: flex;
 	align-items: center;
 	justify-content: space-around;
 	width: auto;
 	height: 100%;
 }

 .slider-boi {
 	display: flex;
 	align-items: center;
 	justify-content: flex-end;
 	width: 55%;
 	height: 100%;
 }

 .action-button {
 	height: 85px;
 	width: 175px;
 	margin: 0 25px;
 	border-radius: 500px;
 	background-color: rgba(242, 242, 242, 0.80);
 	font-size: 2.5em;
 	letter-spacing: .10em;
 	color: white;
 	background-color: #2adb2a;
 	border: 3px solid white;
 	outline: none;
 	transition: background-color 0.4s ease-out, color 0.4s ease-out;
 }
 .action-button:hover {
 	cursor: pointer;
 	background-color: #ffc935;
	color: #f56132;
 }
 .fold-button {
 	height: 85px;
 	width: 175px;
 	margin: 0 25px;
 	background-color: rgba(255, 80, 80, 0.8);
 	font-size: 2.5em;
 	color: white;
 	outline: none;
 	z-index: 100;
 	border-radius: 500px;
 	border: 3px solid white;
 	transition: background-color 0.4s ease-out, color 0.4s ease-out;
 }
 .fold-button:hover {
 	background-color: rgb(255, 0, 0);
 	cursor: pointer;
 }

 .player-info-box {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	color: white;
 	background-color: rgba(0,0,0,0.35);
 	font-size: 0.87em;
 	z-index: 99;

 	padding: 12px;
 	margin-top: 12px;
 }

.player-info-box h5 {
	margin: 4px 0;
}
 .showdown-container {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	position: absolute;
 	right: calc(50% - 250px);
 	top: 150px;
 	width: 500px;
 	height: auto;

 	background-color: rgba(0,0,0,0.85);
 	color: white;

 	z-index: 100;

 }

 .showdown-row {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	align-items: center;
 }

.pot-container {
	position: absolute;
	top: 350px;
	left: calc(50% - 22.5px);
	color: white;
}