img {
	width: 100%;
	height: 100%;
}
.centered-flex-row {
	display: flex;
	justify-content: center;
	width: auto;
	height: auto;
}

.spinner-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 200px;
	width: 200px;

	animation: App-logo-spin infinite 20s linear;
}

.flex-centered-column {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: auto;
	height: auto;
}

.player-avatar-container {
	position: relative;

	height: 100px;
	width: 100px;
	border-radius: 100px;
}

.playing-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 50px;
	width: 40px;
	margin: 0 1px;
	border: 1px solid gray;

	opacity: 0;
	animation: fade-in-up 0.5s;
	animation-fill-mode: forwards;
}

@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translateY(100%)
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.dealer-chip-icon-container {
	position: absolute;
	top: 0px;
	left: 0px;

	height: 25px;
	width: 25px;
	z-index: 100;
}

/* GAME BOARD */

.poker-players {
	position: relative;
	width: 1400px;
	height: 962px;
	background-image: url('/assets/pokerbgbig.svg');
}
 .p0, .p1, .p2, .p3, .p4 {
 	position: absolute;

 	display: flex;
 	align-items: center;
 	flex-direction: column;

 	width: 175px;
 	height: 200px;
 	border: 2px solid white;
 	border-radius: 200px;
 }

 .p0 {
 	bottom: 8.262%; /* 41px/962px */ /* ADD 2PX TO ALL VETICAL CALCULATIONS - MOVED PLAYERBOARD UP FOR CARD SPACE  (WAS 4.262%)*/
 	left: 43.75%; /* 50% - 6.25% (87.5px/1400px) */ 
 }
 .p1 {
 	bottom: 8.262%;
 	left: 24.107143%; /* 50% - 25.892857% (362.5px/1400px) */
 }
 .p2 {
 	bottom: 21.1518%; /* 165px / 962px */
 	left: 6%; /* 50% - 44% (616px/1400px) */ 
 }

 .p4 {
 	bottom: 8.262%;
 	right: 24.107143%;
 }
 .p3 {
 	bottom: 21.1518%;
 	right: 6%;
 }

 .action {
 	border-color: blue;
 }